################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LiqWorkflow.Abstractions/obj
/LiqWorkflow/obj
/.vs/LiqWorkflow
/src/LiqWorkflow/obj
/src/LiqWorkflow.Abstractions/obj
/src/LiqWorkflow/bin/Debug/netcoreapp3.1
/src/LiqWorkflow.Abstractions/bin/Debug/netcoreapp3.1
